<h1>Andrew J. Gonzalez</h1>

<p>Andrew was born in the United States but at the age of six, his family moved to Guadalajara, Mexico.  For the next seven years, Andrew would spend the summers in Southern California with his grandparents and then go back to Guadalajara during the school year.  During this time Andrew learned Spanish and was exposed to the beautiful sounds and sights of the Mexican culture.
<br>
<br>
After Andrew graduated from college, he moved to California's Bay Area to work for the Hispanic College Fund(HCF).  For nearly five years, he traveled around the United States helping HCF establish college access programs at various universities.
<br>
<br>
After HCF, Andrew became an outside sales manager in Ventura County and led a team to grow from zero to nearly two million in production in just four short years.
<br>
<br>
Andrew loved his work in sales management but was ready for a new challenge so he enrolled in General Assembly's WDI immersive course in the fall of 2016.  Over three months, he learned about the agile and scrum project management, git and gitHub, MVC frameworks such as Ruby on Rails and the MEAN Stack, as well as HMTL5, CSS3, and JavaScript, MongoDB, Angular, and PostgreSQL.
<br>
<br>
Andrew is currently focused on obtaining full-time employment in either Santa Barbara or the Greater Los Angeles Area.  </p>
