
<div class="container">
  <div class="row">
    <div class="col s6">
      <div class="card card-panel hoverable white">
        <div class="card-image">
          <img src="assets/tiefighterdefense.png">
          <span class="card-title"></span>
        </div>
        <div class="card-content black-text">
          <p>TIE Fighter defense is a Star Wars themed game.  The goal of the game is to shoot the TIE Fighter before it reaches the end of the board.  With each successive shot, the TIE Fighter moves more quickly across the screen.  How high can you score?</p>
        </div>
        <div class="card-action">
          <a href="https://agonzalez27.github.io/Project1_KillerSquare/">TIE Fighter Defense</a>
        </div>
      </div>
    </div>

    <div class="col s6">
      <div class="card card-panel hoverable white">
        <div class="card-image">
          <img src="assets/produswap.png">
          <span class="card-title"></span>
        </div>
        <div class="card-content black-text">
          <p>produswap.org connects families with surplus home grown produce so they can swap it.</p>
        </div>
        <div class="card-action">
          <a href="http://www.produswap.org/">produswap.org</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s6">
      <div class="card card-panel hoverable white">
        <div class="card-image">
          <img src="assets/stockclosr.png">
          <span class="card-title"></span>
        </div>
        <div class="card-content black-text">
          <p>Leverage the wisdom of the crowd!  With stockclosr.com you can predict the closing price of stocks and compare your predictions to the community's</p>
        </div>
        <div class="card-action">
          <a href="https://stockclosr.herokuapp.com/">stockclosr.com</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s6">
        <div class="card card-panel hoverable white">
          <div class="card-image">
            <img src="assets/marigoldlife.png">
            <span class="card-title"></span>
          </div>
          <div class="card-content black-text">
            <p>If a loved one passed away, would you know who to call?  Do you know how much it would cost?  MARIGOLD.Life assists families on one of the most difficult days of their lives by providing information on funeral providers in your city.</p>
          </div>
          <div class="card-action">
            <a href="https://agonzalez27.github.io/#/">marigold.life</a>
          </div>
        </div>
      </div>
  </div>
</div>
