<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card-panel hoverable white z-depth-4">
        <span class="black-text">
          <h3>Andrew J. Gonzalez</h3>
          <h5>Greater Los Angeles Area</h5>
        </span>
        <a href="mailto:andrew.gonzalez@gmail.com">Email Me</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="card-panel hoverable white z-depth-4">
        <span class="black-text">
          <h3>Summary</h3>
          <p>
            I'm a web developer currently enrolled in the Web Development Immersive program at General Assembly in Santa Monica, CA.
            <br>
            <br>
            Before WDI, I worked as a sales manager in the private sector as well as a program director for a non-profit organization.  As a Web Developer, I can harness the creativity I developed in the non-profit sector along with the communication and management skills of the sales world to create great products that improve the lives of others.
            <br>
            <br>
            Whether it's building a static web page for a small business or a web app that connects thousands of users, I'm dedicated to positively impacting the lives of others.
            <br>
            <br>
            After WDI I plan to land a position at a tech company in either the Greater Los Angeles Area or Santa Barbara where I can work as a web developer and perhaps evolve into a product manager.
          </p>
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="card-panel hoverable white z-depth-4">
        <span class="black-text">
          <h3>Technical Skills</h3>
          <p>
            Languages: JavaScript, Ruby, HTML5, CSS3
            <br>
            Frameworks: Node.js + Express, Rails
            <br>
            Front-End Libraries: jQuery, Bootstrap
            <br>
            Databases: PostgreSQL, MongoDB
            <br>
            Version Control: Git and GitHub
            <br>
            Workflow:  Agile, Trello
          </p>
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="card-panel hoverable white z-depth-4">
        <span class="black-text">
          <h3>Projects</h3>
          <h4><a href="https://agonzalez27.github.io/Project1_KillerSquare/">TIE Fighter Defense </a></h4>
          <p>
            Tie Fighter Defense is a Star Wars themed game.  The point of the game is to shoot the TIE fighter before it reaches the bottom of the board.  If the player shoots the TIE Fighter before it reaches the end of the board, it will re-appear at the top of the board, in a random position, moving at a faster speed.  The point of the game is to see how many points you can get.  Have fun!
            <br>
            <br>
            Technologies used: HTML5, CSS3, JavaScript, jQuery.
          </p>

          <h4><a href="http://www.produswap.org/">produswap.org</a></h4>
          <p>
            produswap.org connects people with surplus home grown produce that they can swap with each other.  This helps families save time and money and prevents great produce from going to waste.
            <br>
            <br>
            Technologies used: Ruby on Rails, HTML5, SCSS, Bootstrap, PostgreSQL, BCrypt, Heroku, PowerPoint, GoDaddy, Photoshop Elements 11, Canon T3i.
          </p>

          <h4><a href="https://stockclosr.herokuapp.com/">stockclosr.com</a></h4>
          <p>
            stockclosr.com allows users to create a stock watch list using a third party API.  Users can also attempt to predict the closing price of a stock.  The user’s prediction along with the community’s aggregated and averaged prediction is displayed on the watch list.
            <br>
            <br>
            Framework:  Javscript: Node.js, Express, jQuery, npm
            Database: MongoDB, RoboMongo (data vizualization)
            Front End: HTML5, CCS3 + Sass, template from 'HTML5 Up'
          </p>

          <h4><a href="https://agonzalez27.github.io/#/">MARIGOLD.Life</a></h4>
          <p>
            If a loved one passed away, would you know who to call?  Do you know how much it would cost?  MARIGOLD.Life assists families on one of the most difficult days of their lives by providing information on funeral providers in your city.

            Framework:  Node.js and Express
            Database: MongoDB, RoboMongo (data vizualization)
            Front End: HTML5, CCS3, Angular, Angular Material Design
          </p>

        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="card-panel hoverable white z-depth-4">
        <span class="black-text">
          <h3>Professional Experience</h3>
          <h4>Sales Manager</h4>
          <p>
          Service Corporation International, Houston, TX
          <br>
          April 2012 – September 2016
          <ul>
            <li>Scheduled weekly prospecting activities for counselors</li>
            <li>Conducted weekly sales training workshops</li>
            <li>Conducted weekly Salesforce usage workshops</li>
            <li>Conducted bi-weekly individual assessments</li>
            <li>Ensured contracts were SOX compliant</li>
            <li>Processed contracts via the company's web application HMIS</li>
            <li>Was responsible for an annual production of $2,000,000 for 5 locations</li>
            <li>Recruited Pre-Planning Advisors</li>
            <li>Delivered motivational speeches at sales rallies</li>
            <li>Conducted "daily huddles"</li>
            <li>Represented the company at community events and festivals</li>
          </ul>
          </p>

          <h4>Program Director</h4>
          <p>
          Hispanic College Fund, Washington, DC
          <br>
          February 2007 – November 2011
          <ul>
            <li>Recruited and trained volunteers</li>
            <li>Recruited students</li>
            <li>Recruited motivational speakers</li>
            <li>Coordinated logistics for transportation, meeting spaces, meals, workshops, and speakers</li>
            <li>Secured additional program funding</li>
            <li>Recruited and trained two program directors</li>
          </ul>
          </p>
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="card-panel hoverable white z-depth-4">
        <span class="black-text">
          <h3>Education</h3>
          <p>
            General Assembly - Santa Monica, CA
            <br>
            Web Development Immersive
            <br>
            <br>
            California State University, Chico - Chico, CA
            <br>
            B.A. International Relations
          </p>
        </span>
      </div>
    </div>
  </div>
</div>
